/**Set the font of your webpage to Arial.*/



body {
    font-family: Arial;
  } 
  
  h1 {
    text-align: center;
  }
  h2 {
    text-align: left;
  }
  h3 {
    text-align: center;
  }
  
  
  /**Make your rectangle any color you want except for black or white.*/
  .rectangle {
    background-color: red;
  }

  .header {
    background-color: lightskyblue;
  }

.table {
margin-left: auto;
margin-right: auto;
}

.container {
  display: flex;
}
.column {
  flex: 1;
  text-align: center;
}
.column img {
  display: block;
  margin: 0 auto;
}
.column p {
  text-align: left;
  color: blueviolet;
}

.shape-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle-group {
  fill: blue;
  opacity: 0.5;
}

.rectangle-group {
  fill: blue;
  stroke: blue;
  stroke-width: 2px;
}

.circle-group:hover {
  stroke: black;
  stroke-width: 2px;
}

.rectangle-group:hover {
  fill: red;
}

@media (min-width: 768px) {
  .shape-container {
    justify-content: space-around;
  }
}